// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

// Variables
$font-family-sans-serif: 'Inter', sans-serif;
$primary: #0056b3; 

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom utilities
[v-cloak] {
    display: none !important;
}
